
.card1{
    width: 200px;
    height: 180px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.icon{
    font-size: 50px;
    height: fit-content;
    width: fit-content;
}

/* .content{
    margin-top: 50px;
} */

.green{
    background-color: rgb(33, 161, 33);
  }

  .orange{
    background-color: rgb(211, 78, 30);
  }

  .yellow{
    background-color: rgb(211, 211, 23);
  }

  .blue{
    background-color: rgb(85, 85, 188);
  }