<div>
    <!-- admin details -->
    <div class="profile">
        <img src="https://www.pngitem.com/pimgs/m/274-2748802_transparent-tech-support-icon-png-admin-login-images.png" alt="no image">
        <h3>Admin</h3>
        <h4>Admin123@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <!-- pages -->
    <h2>Dashboard</h2>
    <div class="pages">
   <a routerLink="">Dashboard</a>
   <a routerLink="page-layouts">Page Layouts</a>
   <a routerLink="widgets">Widgets</a>
   <a routerLink="notification">Notification</a>
   <a routerLink="icon">icons</a>
   

   
    </div>
    <mat-divider></mat-divider>

    <!-- tools -->
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"><mat-icon>contacts</mat-icon>contact</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>leads</a>
    </div>
</div>




