<div class="linechart">
    <app-line-chart></app-line-chart>
</div>



<div class="tablearea">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>

    <!-- pie chart -->

    <div>
        <app-area-chart></app-area-chart>
    </div>

</div>

<div class="piecard">
    <div class="pie">
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="cards">
        <div class="sec-one">
            <!-- card1 -->
            <mat-card>
                <app-cards bg="green" icon="settings" description="Report Generated"
                    count="increased by 40%"></app-cards>
            </mat-card>
            <!-- card2 -->
            <mat-card>
                <app-cards bg="yellow" icon="computer" description="visitors Online"
                    count="increased by 5%"></app-cards>
            </mat-card>
        </div>
        <br>
        <div class="sec-two">
            <!-- card3 -->
            <mat-card>
                <app-cards bg="orange" icon="bookmark" description="Weekly Orders" count="increased by 10%"></app-cards>
            </mat-card>
            <!-- card4 -->
            <mat-card>
                <app-cards bg="blue" icon="analytics" description="Weekly Sales" count="increased by 60%"></app-cards>
            </mat-card>
        </div>
    </div>
</div>